@import "https://fonts.googleapis.com/css?family=Roboto";

body {
    --dic-color-main: #080c24ff;
    --dic-color-main-light: #151e34ff;
    --dic-color-main-dark: #261C2C;
    --dic-color-text: #c7c6c6;
    --dic-color-text-light: #fff;
    --dic-color-text-dark: rgba(175, 175, 175, 0.7);
    --dic-color-success: #1f7ea7ff;
    --dic-color-success-light: #2b9bcb;
    --dic-color-secondary: #008080;
    --dic-color-secondary-light: #039a9a;
    --dic-color-guide-bg: #15342b;
}

#mw-dic {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif !important;
    font-size: 16px;
    color: var(--dic-color-text);
}

#mw-dic * {
    box-sizing: border-box;
}

#mw-dic small {
    font-size: 14px;
}

#mw-dic-btn {
    position: absolute;
    display: none;
    z-index: 2147483647;
    padding: 3px;
    background: #dedede;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0 #00000014;
    cursor: pointer;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

#mw-dic-btn svg {
    width: 16px;
    height: 16px;
    font-size: 19px;
    pointer-events: none;
}

#mw-dic.bubble {
    position: absolute;
    z-index: 2147483647;
    width: 340px;
    max-width: 340px;
    max-height: 200px;
    background-color: var(--dic-color-main);
    border: 1px solid var(--dic-color-main-light);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0 #00000014;
    overflow: auto;
    padding: 8px;
}

#mw-dic ul {
    padding-left: 16px;
    margin: 0;
    list-style: initial;
}

#mw-dic details {
    margin-bottom: 16px;
}

#mw-dic details summary {
    padding: 5px;
    margin-bottom: 8px;
    background: var(--dic-color-main-light);
    position: relative;
    cursor: pointer;
}

#mw-dic details summary span {
    margin-left: 8px;
}

#mw-dic details summary small {
    display: inline-block;
    position: absolute;
    right: 8px;
}

#mw-dic details p {
    margin: 8px 0 0;
    line-height: 1.3;
}

#mw-dic details .pron {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    margin: 8px 12px;
    padding: 1px 3px;
    line-height: 1;
    opacity: 0.6;
}

#mw-dic details .pron:hover {
    font-weight: bold;
    opacity: 1;
}

#mw-dic details .pron img {
    display: inline-block;
    margin-left: 8px;
}

#mw-dic #options small {
    opacity: 0.7;
}

#mw-dic #result > ul li,
#mw-dic #history > ul li {
    cursor: pointer;
    margin-top: 5px;
}

#mw-dic #history li span {
    float: right;
}

#mw-dic #result li a,
#mw-dic #history li a {
    text-decoration: none;
}

#mw-dic .link-to-mw {
    position: sticky;
    top: 40px;
    font-size: 14px;
    display: inline-block;
    color: var(--dic-color-success-light);
    background: #080d23;
    width: 100%;
    padding: 6px 0;
    z-index: 2;
}

#mw-dic.bubble .link-to-mw {
    position: sticky;
    top: -8px;
}

#mw-dic p.examples {
    white-space: break-spaces;
    font-size: 14px;
    color: var(--dic-color-text-dark);
}

#mw-dic p.examples span {
    display: block;
}

#mw-dic p.syns {
    opacity: 0.7;
    font-size: 14px;
    white-space: break-spaces;
}
