body#mw-dic {
    width: 360px;
    max-height: 690px;
    overflow: hidden;
    overflow-y: scroll;
    background: var(--dic-color-main);
    color: var(--dic-color-text);
    margin: 0 auto;
    cursor: default;
    font-size: 16px;
}

#mw-dic label {
    width: 100%;
    margin-bottom: 8px;
    display: inline-block;
}

#mw-dic select,
#mw-dic input[type="search"],
#mw-dic input[type="number"],
#mw-dic input[type="text"] {
    display: block;
    box-sizing: border-box;
    padding: 8px;
    background: #84848461;
    border: none;
    border-radius: 5px;
    color: var(--dic-color-text);
    max-width: 100%;
    width: 100%;
    margin-top: 5px;
    height: 32px;
}

#mw-dic textarea::placeholder,
#mw-dic input::placeholder {
    color: var(--dic-color-text-dark);
}

#mw-dic textarea:focus,
#mw-dic input[type="search"]:focus,
#mw-dic input[type="number"]:focus,
#mw-dic input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #ffffff94;
    color: var(--dic-color-text-light);
}

#mw-dic button {
    all: initial;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    min-width: 50px;
    display: inline-block;
    padding: 5px 16px;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 6px;
    color: var(--dic-color-text-light);
    background-color: var(--dic-color-success);
    user-select: none;
    appearance: none;
    transition: all 0.2s;
    border: 1px solid transparent;
    width: 100%;
    box-sizing: border-box;
}

#mw-dic button:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--dic-color-success-light);
}

#mw-dic button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#mw-dic button.light {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--dic-color-text);
}

#mw-dic button.light:hover {
    background-color: var(--dic-color-secondary);
}

#mw-dic button.outline {
    background: transparent;
    color: var(--dic-color-text);
    border: 1px solid var(--dic-color-text);
}

#mw-dic button.outline:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#mw-dic a {
    color: var(--dic-color-text);
    cursor: pointer;
}

#mw-dic a:hover {
    color: var(--dic-color-text-light);
}

#mw-dic .popup {
    position: relative;
    padding: 46px 16px 16px;
}

#mw-dic .popup .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--dic-color-text-dark);
    background-color: var(--dic-color-main-light);
}

#mw-dic .popup .header .brand {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--dic-color-text-light);
}

#mw-dic .popup .header a {
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
}

#mw-dic .popup .header a svg {
    margin-right: 4px;
}

#mw-dic .popup form {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#mw-dic .popup form#search input {
    padding-right: 90px;
}

#mw-dic .popup #searchEntryPoint,
#mw-dic .popup #options,
#mw-dic .popup #result {
    display: none;
}

#mw-dic .popup #message {
    display: block;
    line-height: 1.4;
    white-space: break-spaces;
}

#mw-dic .popup #actions {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 8px;
    position: sticky;
    bottom: 0;
    padding: 12px 0;
    z-index: 3;
}

#mw-dic .popup #actions button {
    width: auto;
}

#mw-dic .popup form label {
    font-size: 16px;
    margin-bottom: -8px;
}

#mw-dic .popup form > *:not(:last-child) {
    margin-bottom: 16px;
}

#mw-dic .popup #search button {
    position: absolute;
    right: 0;
    top: 5px;
    border-radius: 0 6px 6px 0;
    width: auto;
}

#mw-dic .popup #options button {
    position: sticky;
    bottom: 16px;
    margin-top: 16px;
    box-shadow: 0 30px 30px 50px var(--dic-color-main);
}

#mw-dic #history .clear-history-btn {
    position: sticky;
    bottom: 56px;
    margin-top: 16px;
    box-shadow: 0 30px 30px 50px var(--dic-color-main);
    z-index: 2;
}

#mw-dic .popup #options .guide {
    background-color: var(--dic-color-guide-bg);
    padding: 5px;
}

#mw-dic #twitter-share,
#mw-dic #rate {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 0.75rem;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

#mw-dic #rate span {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 18px;
}

#mw-dic #rate span svg:hover,
#mw-dic #rate span svg:hover ~ svg {
    fill: yellow;
}